# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
venv_trindentIA/
env/
*.pyc

# Java
target/
*.class
.mvn/
.idea/
*.iml

# Node / Next.js
node_modules/
dist/
.next/
out/
.env.local
.env*.local
build/

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
*.swp
*.swo

# Logs
*.log

/apuntes
/proyecto